body {
  font-family: "Poppins", sans-serif;
}

/**********
 header style 
***********/
.header {
  background-color: #264653;
}
.header-text {
  color: white !important;
}

.honda-cbr-btn {
  color: white !important;
  background-color: #e76f51 !important;
}
/* **********
main style 
**************/
/* feature section style */
.honda-feature-gray {
  filter: grayscale(100%);
}
.line {
  display: block;
  margin: auto;
  height: 2px;
  width: 5%;
  background-color: #e76f51;
}

/* Happy CLient Section style */
.text-orange {
  color: #e76f51;
}
.rating {
}
.rating-icon {
  color: #e77c40;
}
.client-name-text {
  color: #23a6f0;
}
